/vendor/bin/
/vendor/doctrine/
/vendor/friendsofphp/
/vendor/gabordemooij/
/vendor/psr/
/vendor/sebastian/
/vendor/symfony
/vendor/autoload.php
/vendor/composer
/public/visualMySql
/tmp/logs/
ishop_tpl/
.vimspector.json
.php-cs-fixer.cache
.php-cs-fixer.dist.php
config/config.db.php
tags
tags.vendors
